@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  background: #ffdbc5;
  color: #666;
}

#loginBlock{
  display: none;
}

.zeroMarginPadding{
  margin: 0;
  padding: 0; 
}
.homePage{
  margin: 20px 0 20px 0;
}

.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}
.form-control{
  font-size: 15px;
  min-height: 38px;
  font-weight: 500;
}
.form-control:focus{
  box-shadow: 0 0 0 0.2rem;
}
.forgot-link{
  font-size: 13px;
}
.forgot-link label{
  margin-bottom: 0;
}
.card{
  width:100%;
  justify-content:center;
  box-shadow:0 16px 32px 0 rgba(43, 43, 43, 0.7);
  margin:auto;
  padding:auto;
}
.basic-details-group{
  background-color: rgb(200, 229, 255);
  color: rgb(8, 8, 8);
  padding: 5px;
}
