@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
body{
  font-family: 'Poppins', sans-serif;
  font-size: 14px;  
  background: #eee;
  color: #666;
}
.login-container{
  height: 100vh;
  width: 100%;
}
.login-form{
  max-width: 100%;
  width: 370px;
  padding: 15px;
  margin: auto;
}
.form-control{
  font-size: 15px;
  min-height: 38px;
  font-weight: 500;
}
.form-control:focus{
  box-shadow: 0 0 0 0.2rem;
}
.forgot-link{
  font-size: 13px;
}
.forgot-link label{
  margin-bottom: 0;
}

